# FIREBASE (use your 'fixnclik' project values)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=fixnclik.firebaseapp.com
FIREBASE_PROJECT_ID=fixnclik
FIREBASE_STORAGE_BUCKET=fixnclik.appspot.com
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_SERVICE_ACCOUNT_BASE64=BASE64_JSON

# SQUARE (sandbox)
SQUARE_ENV=sandbox
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_WEBHOOK_SIGNATURE_KEY=

# SQUARE (production) - comment/uncomment when ready
# SQUARE_ENV=production
# SQUARE_ACCESS_TOKEN=
# SQUARE_LOCATION_ID=
# SQUARE_WEBHOOK_SIGNATURE_KEY=

SITE_URL=https://1clikfixx.netlify.app
DOMAIN_NAME=www.1clikfix.com
SUBSCRIPTION_PRICE_CENTS=2099
BOOKING_PRICE_CENTS=1000
CURRENCY=USD
